.paragraph-p-code {
  &__content {
    border: 1px solid gray(300);
    border-radius: 4px;
    overflow: auto;
  }

  &__field-title {
    @include mdi-icon('code-braces');
    background: gray(100);
    padding: gap(1) gap(2);
    font-weight: bold;
  }

  &__field-body {
    padding: gap(1) gap(2);
  }

  pre {
    margin: 0;
    padding: 0;
  }
}