.footer {
  padding: 15px;

  &__content {
   @include media-container();
  }

  .footer-social {
    margin-bottom: 8px;
  }

  &__copyright {
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
  }

  &__top {
    @include mdi-icon('chevron-up');
    display: table;
    margin: 0 auto;
    font-size: 13px;
    color: gray(500);
  }
}
