.header {
  background-color: #fff;
  position: relative;

  &__top {
    @include media-container();
    display: flex;
    position: relative;
    z-index: 20;
    align-items: center;
  }

  .block-system-branding-block {
    margin-right: 30px;
  }
}
