{% set bem_block = "footer" %}
<footer class="{{ bem_block }}">
    <div class="{{ bem_block }}__content">
        <div class="{{ bem_block }}__copyright">
            &copy; {{ 'now'|date('Y') }} <strong>Custom blog</strong> Все права защищены.
        </div>
    </div>

    <a href="#" class="{{ bem_block }}__top">Вверх</a>
</footer>