{% set bem_block = bem_block ?: 'social-links' %}

<div class="{{ bem_block }}">
    <ul class="{{ bem_block }}__items">
        {% for name, url in social_values %}
            {% if url %}
                <li class="{{ bem_block }}__item">
                    <a href="{{ url }}" class="{{ bem_block }}__link {{ bem_block }}__link--{{ name }}" target="_blank"></a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
