body {
  background-color: #f2f2f5; }

::-moz-selection {
  color: white;
  background: #6A82FB; }

::selection {
  color: white;
  background: #6A82FB; }
::-moz-selection {
  color: white;
  background: #6A82FB; }
::selection {
  color: white;
  background: #6A82FB; }
@font-face {
  font-family: "Material Design Icons";
  src: url("../../node_modules/@mdi/font/fonts/materialdesignicons-webfont.eot?v=2.8.94");
  src: url("../../node_modules/@mdi/font/fonts/materialdesignicons-webfont.eot?#iefix&v=2.8.94") format("embedded-opentype"), url("../../node_modules/@mdi/font/fonts/materialdesignicons-webfont.woff2?v=2.8.94") format("woff2"), url("../../node_modules/@mdi/font/fonts/materialdesignicons-webfont.woff?v=2.8.94") format("woff"), url("../../node_modules/@mdi/font/fonts/materialdesignicons-webfont.ttf?v=2.8.94") format("truetype"), url("../../node_modules/@mdi/font/fonts/materialdesignicons-webfont.svg?v=2.8.94#materialdesigniconsregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.breadcrumbs {
  background: transparent;
  padding: 0 0;
  margin-bottom: 0;
  border-radius: 4px;
  font-size: 16px;
  display: -webkit-box;
  display: flex; }
  .breadcrumbs__path {
    display: inline; }
  .breadcrumbs__item-link {
    color: #6A82FB; }
    .breadcrumbs__item-link::after {
      margin: 0 4px;
      content: "/"; }
    .breadcrumbs__item-link.is-current::after {
      display: none; }
    .breadcrumbs__item-link--text {
      color: #333333; }
  .breadcrumbs__current {
    display: inline; }
  @media (max-width: 767px) {
    .breadcrumbs__path {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      -webkit-box-flex: 0;
              flex-grow: 0;
      flex-shrink: 1; }
    .breadcrumbs__item-link.is-current::before {
      margin: 0 4px;
      content: "/"; }
    .breadcrumbs__item-link:last-child::after {
      display: none; }
    .breadcrumbs__current {
      display: block;
      -webkit-box-flex: 1;
              flex-grow: 1;
      flex-shrink: 0; } }

.button, .form-submit,
.button--primary,
.button--action, .button--warning, .button-danger, .button--success, .button--info, .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .button {
  padding: 8px 16px;
  font-size: 16px;
  line-height: 1.25;
  border-radius: 3px;
  display: inline-block;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid transparent; }

.button {
  color: #333333;
  background-color: #ffffff;
  background-image: none;
  border-color: #cccccc;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125); }
  .button:focus, .button:hover {
    color: #333333;
    background-color: #e6e6e6;
    border-color: #adadad; }
  .button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5); }
  .button:disabled {
    background-color: #ffffff;
    border-color: #cccccc;
    opacity: .65; }
  .button:active {
    color: #333333;
    background-color: #e6e6e6;
    background-image: none;
    border-color: #adadad;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5); }

.form-submit,
.button--primary,
.button--action {
  color: white;
  background-color: #6A82FB;
  background-image: none;
  border-color: transparent;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125); }
  .form-submit:focus, .form-submit:hover,
  .button--primary:focus,
  .button--primary:hover,
  .button--action:focus,
  .button--action:hover {
    color: white;
    background-color: #3858fa;
    border-color: transparent; }
  .form-submit:focus,
  .button--primary:focus,
  .button--action:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(106, 130, 251, 0.5); }
  .form-submit:disabled,
  .button--primary:disabled,
  .button--action:disabled {
    background-color: #6A82FB;
    border-color: transparent;
    opacity: .65; }
  .form-submit:active,
  .button--primary:active,
  .button--action:active {
    color: white;
    background-color: #3858fa;
    background-image: none;
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(106, 130, 251, 0.5); }

.button--warning {
  color: white;
  background-color: #ff9800;
  background-image: none;
  border-color: #e68900;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125); }
  .button--warning:focus, .button--warning:hover {
    color: white;
    background-color: #cc7a00;
    border-color: #a86400; }
  .button--warning:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(255, 152, 0, 0.5); }
  .button--warning:disabled {
    background-color: #ff9800;
    border-color: #e68900;
    opacity: .65; }
  .button--warning:active {
    color: white;
    background-color: #cc7a00;
    background-image: none;
    border-color: #a86400;
    box-shadow: 0 0 0 3px rgba(255, 152, 0, 0.5); }

.button-danger {
  color: white;
  background-color: #f44336;
  background-image: none;
  border-color: #f32c1e;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125); }
  .button-danger:focus, .button-danger:hover {
    color: white;
    background-color: #ea1c0d;
    border-color: #c8180b; }
  .button-danger:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(244, 67, 54, 0.5); }
  .button-danger:disabled {
    background-color: #f44336;
    border-color: #f32c1e;
    opacity: .65; }
  .button-danger:active {
    color: white;
    background-color: #ea1c0d;
    background-image: none;
    border-color: #c8180b;
    box-shadow: 0 0 0 3px rgba(244, 67, 54, 0.5); }

.button--success {
  color: white;
  background-color: #4caf50;
  background-image: none;
  border-color: #449d48;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125); }
  .button--success:focus, .button--success:hover {
    color: white;
    background-color: #3d8b40;
    border-color: #327334; }
  .button--success:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(76, 175, 80, 0.5); }
  .button--success:disabled {
    background-color: #4caf50;
    border-color: #449d48;
    opacity: .65; }
  .button--success:active {
    color: white;
    background-color: #3d8b40;
    background-image: none;
    border-color: #327334;
    box-shadow: 0 0 0 3px rgba(76, 175, 80, 0.5); }

.button--info {
  color: white;
  background-color: #29b6f6;
  background-image: none;
  border-color: #11aef5;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125); }
  .button--info:focus, .button--info:hover {
    color: white;
    background-color: #0a9fe2;
    border-color: #0887c0; }
  .button--info:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(41, 182, 246, 0.5); }
  .button--info:disabled {
    background-color: #29b6f6;
    border-color: #11aef5;
    opacity: .65; }
  .button--info:active {
    color: white;
    background-color: #0a9fe2;
    background-image: none;
    border-color: #0887c0;
    box-shadow: 0 0 0 3px rgba(41, 182, 246, 0.5); }

.comments__content .indented {
  padding-left: 32px; }

.contextual-region .contextual-links {
  background: white;
  border: 1px solid;
  border-radius: 4px 0 4px 4px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2); }
  .contextual-region .contextual-links li a {
    color: inherit; }

.form-item {
  margin: 0 0 16px; }
  .form-item__description {
    display: block;
    margin-top: 8px;
    margin-bottom: 8px;
    color: gray("500");
    font-size: 85%; }
  .form-item__label.is-required:after {
    content: "*";
    display: inline-block;
    color: #f44336;
    margin: 0 0 0 4px; }

.form-actions input {
  margin: 0 8px 0 0; }
  .form-actions input:last-child {
    margin: 0; }

.filter-wrapper {
  margin-top: -16px; }

.form-item__label.option {
  margin-bottom: 0; }

.form-item--radio {
  margin-bottom: 0; }

.form-wrapper {
  border: 1px solid #e0e0e0; }
  .form-wrapper__summary {
    background: #f5f5f5;
    padding: 8px;
    cursor: pointer; }
  .form-wrapper__content {
    padding: 8px; }

.local-actions {
  padding: 0;
  margin: 0 0 24px;
  list-style: none;
  display: -webkit-box;
  display: flex; }
  .local-actions__item:not(:last-child) {
    margin-right: 8px; }

.menu {
  margin: 0;
  padding: 0;
  list-style: none; }

.messages {
  position: relative;
  margin: 0 0 1rem;
  padding: 1rem 1rem;
  border-radius: 3px;
  border: 1px solid transparent;
  color: #5d5d5d;
  background-color: #fafafa;
  border-color: #eeeeee; }
  .messages hr {
    border-top-color: #e1e1e1; }
  .messages a {
    color: #444444; }
  .messages--error {
    color: #9f3a38;
    background-color: #fff6f6;
    border-color: #e0b4b4; }
    .messages--error hr {
      border-top-color: #d9a2a2; }
    .messages--error a {
      color: #792c2b; }
  .messages--status {
    color: #2c662d;
    background-color: #fcfff5;
    border-color: #a3c293; }
    .messages--status hr {
      border-top-color: #95b983; }
    .messages--status a {
      color: #1d421d; }
  .messages--warning {
    color: #573a08;
    background-color: #fffaf3;
    border-color: #c9ba9b; }
    .messages--warning hr {
      border-top-color: #c0af8a; }
    .messages--warning a {
      color: #281b04; }

.pager__items {
  margin: 1rem auto;
  padding: 0;
  list-style: none outside none;
  display: table;
  overflow: hidden; }
  .pager__items .pager__item {
    display: inline-block;
    color: #8c8c8c;
    margin: 0;
    padding: 0 0.25rem; }
    .pager__items .pager__item a {
      display: block;
      border-bottom: 3px solid transparent;
      padding: 0 0.25rem 0.25rem;
      font-weight: 600;
      text-decoration: none;
      color: #6A82FB; }
    .pager__items .pager__item.is-active a {
      border-bottom-color: #072ff8;
      color: #072ff8; }

table {
  background: transparent; }

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: gray("500");
  text-align: left; }

th {
  text-align: left; }

table, .table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  border-spacing: 0;
  border-collapse: collapse; }
  table > thead > tr > th, .table > thead > tr > th, table > thead > tr > td, .table > thead > tr > td, table > tbody > tr > th, .table > tbody > tr > th, table > tbody > tr > td, .table > tbody > tr > td, table > tfoot > tr > th, .table > tfoot > tr > th, table > tfoot > tr > td, .table > tfoot > tr > td {
    padding: 0.75rem;
    line-height: 1.5;
    vertical-align: top;
    border-top: 1px solid #e9ecef; }
  table > thead > tr > th, .table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #e9ecef; }
  table > tbody + tbody, .table > tbody + tbody {
    border-top: 2px solid #e9ecef; }

table > thead > tr > th, .table--condensed > thead > tr > th, table > thead > tr > td, .table--condensed > thead > tr > td, table > tbody > tr > th, .table--condensed > tbody > tr > th, table > tbody > tr > td, .table--condensed > tbody > tr > td, table > tfoot > tr > th, .table--condensed > tfoot > tr > th, table > tfoot > tr > td, .table--condensed > tfoot > tr > td {
  padding: 5px; }

table > tbody > tr:nth-of-type(odd), .table--srippted > tbody > tr:nth-of-type(odd), .table--stripped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9; }

table > tbody > tr:hover, .table--hover > tbody > tr:hover {
  background-color: #f5f5f5; }

.table-responsive-container {
  overflow-x: auto;
  min-height: 0.01%; }
  @media (max-width: 467px) {
    .table-responsive-container {
      width: 100%;
      margin-bottom: 18px;
      overflow-y: hidden;
      -ms-overflow-style: -ms-autohiding-scrollbar;
      border: 1px solid #e9ecef; }
      .table-responsive-container > .table {
        margin-bottom: 0; }
        .table-responsive-container > .table > thead > tr > th,
        .table-responsive-container > .table > thead > tr > td,
        .table-responsive-container > .table > tbody > tr > th,
        .table-responsive-container > .table > tbody > tr > td,
        .table-responsive-container > .table > tfoot > tr > th,
        .table-responsive-container > .table > tfoot > tr > td {
          white-space: nowrap; }
      .table-responsive-container > .table-bordered {
        border: 0; }
        .table-responsive-container > .table-bordered > thead > tr > th:first-child,
        .table-responsive-container > .table-bordered > thead > tr > td:first-child,
        .table-responsive-container > .table-bordered > tbody > tr > th:first-child,
        .table-responsive-container > .table-bordered > tbody > tr > td:first-child,
        .table-responsive-container > .table-bordered > tfoot > tr > th:first-child,
        .table-responsive-container > .table-bordered > tfoot > tr > td:first-child {
          border-left: 0; }
        .table-responsive-container > .table-bordered > thead > tr > th:last-child,
        .table-responsive-container > .table-bordered > thead > tr > td:last-child,
        .table-responsive-container > .table-bordered > tbody > tr > th:last-child,
        .table-responsive-container > .table-bordered > tbody > tr > td:last-child,
        .table-responsive-container > .table-bordered > tfoot > tr > th:last-child,
        .table-responsive-container > .table-bordered > tfoot > tr > td:last-child {
          border-right: 0; }
        .table-responsive-container > .table-bordered > tbody > tr:last-child > th,
        .table-responsive-container > .table-bordered > tbody > tr:last-child > td,
        .table-responsive-container > .table-bordered > tfoot > tr:last-child > th,
        .table-responsive-container > .table-bordered > tfoot > tr:last-child > td {
          border-bottom: 0; } }

a.tabledrag-handle .handle {
  height: 1.5rem;
  width: 1.25rem; }

.tabs {
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: flex;
  flex-flow: wrap; }
  .tabs--primary {
    margin: 0 0 24px; }
    .tabs--primary .tabs__menu-item {
      position: relative; }
    .tabs--primary .tabs__menu-item-link {
      display: block;
      padding: 0 10px 10px 10px;
      color: #333333;
      position: relative; }
      .tabs--primary .tabs__menu-item-link:hover {
        color: gray("500"); }
      .tabs--primary .tabs__menu-item-link.is-active {
        color: #6A82FB;
        font-weight: bold; }
        .tabs--primary .tabs__menu-item-link.is-active::before {
          content: '';
          width: 70%;
          height: 4px;
          background: #6A82FB;
          position: absolute;
          bottom: 0;
          left: 15%; }
        .tabs--primary .tabs__menu-item-link.is-active:hover {
          color: theme-color-level("primary", 4); }
  .tabs--secondary {
    margin: 0 0 24px; }
    .tabs--secondary .tabs__menu-item {
      position: relative; }
    .tabs--secondary .tabs__menu-item-link {
      display: block;
      padding: 0 10px 10px 10px;
      border-bottom: 1px solid;
      color: #333333; }
      .tabs--secondary .tabs__menu-item-link:hover {
        color: gray("500");
        border-bottom-color: #6A82FB; }
      .tabs--secondary .tabs__menu-item-link.is-active {
        border-bottom-width: 2px;
        border-bottom-color: #6A82FB;
        color: #6A82FB;
        font-weight: bold; }
        .tabs--secondary .tabs__menu-item-link.is-active:hover {
          color: theme-color-level("primary", 4); }

.vertical-tabs {
  background: white; }
  .vertical-tabs .vertical-tabs__menu {
    background: #fbfaf8;
    border: 1px solid #dddddd; }
    .vertical-tabs .vertical-tabs__menu .vertical-tabs__menu-item {
      border: none; }
      .vertical-tabs .vertical-tabs__menu .vertical-tabs__menu-item a {
        color: #555459;
        border: none; }
      .vertical-tabs .vertical-tabs__menu .vertical-tabs__menu-item.selected {
        background: #439fe0; }
        .vertical-tabs .vertical-tabs__menu .vertical-tabs__menu-item.selected strong, .vertical-tabs .vertical-tabs__menu .vertical-tabs__menu-item.selected .summary {
          color: white;
          text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1); }
  .vertical-tabs .vertical-tabs__panes {
    padding: 1rem; }

.text-subtle {
  color: gray("500"); }

.text-highlight {
  color: gray("600"); }

.text-info {
  color: theme-color("info"); }

.text-success {
  color: theme-color("success"); }

.text-warning {
  color: theme-color("warning"); }

.text-error {
  color: theme-color("error"); }

.highlight, .highlight-info, .highlight-success, .highlight-warning, .highlight-error {
  padding: 1px 4px;
  font-weight: bold;
  text-shadow: none;
  border-radius: 3px;
  color: #d7dae0;
  background: #31363f; }

.highlight-info {
  color: #edf9fe;
  background: #29b6f6; }

.highlight-success {
  color: #d9eeda;
  background: #4caf50; }

.highlight-warning {
  color: #ffeacc;
  background: #ff9800; }

.highlight-error {
  color: #fff8f7;
  background: #f44336; }

.ui-widget-overlay {
  background: black;
  opacity: 0.8;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10; }

.ui-dialog {
  z-index: 100;
  background: white;
  color: #333333;
  padding: 0;
  border-radius: 4px;
  border: transparent !important;
  max-width: 100%;
  font-size: 16px; }
  .ui-dialog .ui-widget-header {
    border-radius: 4px;
    background: transparent;
    color: #333333;
    padding: 16px 16px 8px;
    border: none;
    border-bottom: none; }
    .ui-dialog .ui-widget-header .ui-dialog-title {
      color: #333333;
      font-weight: bold;
      font-size: 16px; }
    .ui-dialog .ui-widget-header .ui-dialog-titlebar-close {
      float: right;
      background: none;
      width: auto;
      border: none;
      text-indent: 0;
      font-size: 28px;
      line-height: 1; }
      .ui-dialog .ui-widget-header .ui-dialog-titlebar-close:before {
        content: "\F5AD";
        font-family: "Material Design Icons";
        font-weight: normal;
        font-style: normal;
        display: inline-block;
        text-decoration: inherit;
        margin-right: 0; }
      .ui-dialog .ui-widget-header .ui-dialog-titlebar-close:before {
        position: relative;
        top: -6px; }
      .ui-dialog .ui-widget-header .ui-dialog-titlebar-close .ui-icon {
        display: none; }
        .ui-dialog .ui-widget-header .ui-dialog-titlebar-close .ui-icon:before {
          margin: 0; }
      .ui-dialog .ui-widget-header .ui-dialog-titlebar-close .ui-button-text {
        padding: 0;
        font-size: "Roboto", sans-serif;
        line-height: 1.5; }
  .ui-dialog .ui-dialog-content {
    padding: 0 16px;
    border: none;
    overflow: auto; }
  .ui-dialog .ui-dialog-buttonpane {
    background: transparent;
    padding: 0 16px 16px;
    border: none;
    border-top: none; }
    .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
      float: none;
      display: table;
      margin: 0 auto; }
      .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .button {
        color: white;
        background-color: #6A82FB;
        background-image: none;
        border-color: transparent;
        -webkit-transition: all .15s ease-in-out;
        transition: all .15s ease-in-out;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);
        padding: 8px;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase; }
        .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .button:focus, .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .button:hover {
          color: white;
          background-color: #3858fa;
          border-color: transparent; }
        .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .button:focus {
          outline: none;
          box-shadow: 0 0 0 3px rgba(106, 130, 251, 0.5); }
        .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .button:disabled {
          background-color: #6A82FB;
          border-color: transparent;
          opacity: .65; }
        .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .button:active {
          color: white;
          background-color: #3858fa;
          background-image: none;
          border-color: transparent;
          box-shadow: 0 0 0 3px rgba(106, 130, 251, 0.5); }
        .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .button .ui-button-text {
          padding: 0; }

.views-mini-pager__items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center; }

.views-mini-pager__item--label {
  padding: 8px; }

.views-mini-pager__item-link {
  padding: 8px;
  display: block; }

.node-page-full__field-paragraphs-item {
  margin-bottom: 32px; }

.header {
  background-color: #fff;
  position: relative; }
  .header__top {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    display: -webkit-box;
    display: flex;
    position: relative;
    z-index: 20;
    -webkit-box-align: center;
            align-items: center; }
    @media (min-width: 468px) {
      .header__top {
        width: 420px;
        max-width: 100%; } }
    @media (min-width: 768px) {
      .header__top {
        width: 720px;
        max-width: 100%; } }
    @media (min-width: 992px) {
      .header__top {
        width: 960px;
        max-width: 100%; } }
    @media (min-width: 1200px) {
      .header__top {
        width: 1140px;
        max-width: 100%; } }
    @media (min-width: 468px) {
      .header__top {
        padding-right: 15px;
        padding-left: 15px; } }
    @media (min-width: 768px) {
      .header__top {
        padding-right: 15px;
        padding-left: 15px; } }
    @media (min-width: 992px) {
      .header__top {
        padding-right: 15px;
        padding-left: 15px; } }
    @media (min-width: 1200px) {
      .header__top {
        padding-right: 15px;
        padding-left: 15px; } }
  .header .block-system-branding-block {
    margin-right: 30px; }

.footer {
  padding: 15px; }
  .footer__content {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px; }
    @media (min-width: 468px) {
      .footer__content {
        width: 420px;
        max-width: 100%; } }
    @media (min-width: 768px) {
      .footer__content {
        width: 720px;
        max-width: 100%; } }
    @media (min-width: 992px) {
      .footer__content {
        width: 960px;
        max-width: 100%; } }
    @media (min-width: 1200px) {
      .footer__content {
        width: 1140px;
        max-width: 100%; } }
    @media (min-width: 468px) {
      .footer__content {
        padding-right: 15px;
        padding-left: 15px; } }
    @media (min-width: 768px) {
      .footer__content {
        padding-right: 15px;
        padding-left: 15px; } }
    @media (min-width: 992px) {
      .footer__content {
        padding-right: 15px;
        padding-left: 15px; } }
    @media (min-width: 1200px) {
      .footer__content {
        padding-right: 15px;
        padding-left: 15px; } }
  .footer .footer-social {
    margin-bottom: 8px; }
  .footer__copyright {
    text-transform: uppercase;
    text-align: center;
    font-size: 12px; }
  .footer__top {
    display: table;
    margin: 0 auto;
    font-size: 13px;
    color: #9e9e9e; }
    .footer__top:before {
      content: "\F143";
      font-family: "Material Design Icons";
      font-weight: normal;
      font-style: normal;
      display: inline-block;
      text-decoration: inherit;
      margin-right: 0.4em; }

.block-main__title {
  display: none; }

.block-main__menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: flex;
  height: 44px; }

.block-main__menu-item {
  margin-right: 16px; }

.block-main__menu-item-link {
  display: block;
  color: #404040;
  font-size: 18px;
  line-height: 42px; }
  .block-main__menu-item-link:hover {
    color: #6A82FB;
    border-bottom: solid #6A82FB 2px; }

.block-system-branding-block__site-name {
  color: #6A82FB;
  font-weight: bold;
  font-size: 40px;
  display: block; }

.block-custom-blog-social-links {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column; }
  .block-custom-blog-social-links__title {
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    color: #32325d;
    margin-bottom: 12px; }

.social-links {
  padding: 16px;
  background-color: #fff;
  height: 200px; }
  .social-links__items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: flex; }
  .social-links__link {
    display: -webkit-box;
    display: flex;
    width: 110px;
    height: 102px;
    color: white;
    line-height: 100px;
    font-size: 40px;
    padding-left: 34px; }
  .social-links__link--facebook:before {
    content: "\F20C";
    font-family: "Material Design Icons";
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 0.4em; }
  .social-links__link--vk:before {
    content: "\F579";
    font-family: "Material Design Icons";
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 0.4em; }
  .social-links__link--twitter:before {
    content: "\F544";
    font-family: "Material Design Icons";
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 0.4em; }
  .social-links__link--youtube:before {
    content: "\F5C3";
    font-family: "Material Design Icons";
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 0.4em; }
  .social-links__link--telegram:before {
    content: "\F501";
    font-family: "Material Design Icons";
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 0.4em; }
  .social-links__link--github:before {
    content: "\F2A4";
    font-family: "Material Design Icons";
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 0.4em; }
  .social-links__link--gitlab:before {
    content: "\F2A0";
    font-family: "Material Design Icons";
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 0.4em; }
  .social-links__link--facebook {
    background-color: #3b5999; }
  .social-links__link--vk {
    background-color: #4a76a8; }
  .social-links__link--twitter {
    background-color: #1da1f2; }
  .social-links__link--youtube {
    background-color: #FF0000; }
  .social-links__link--telegram {
    background-color: #0088cc; }
  .social-links__link--github {
    background-color: #171515; }
  .social-links__link--gitlab {
    background-color: #FCA121; }

.custom-hero {
  position: relative;
  z-index: 0;
  margin-top: -42;
  height: 500px;
  overflow: hidden; }
  .custom-hero__content {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
    z-index: 10;
    top: 200px; }
    @media (min-width: 468px) {
      .custom-hero__content {
        width: 420px;
        max-width: 100%; } }
    @media (min-width: 768px) {
      .custom-hero__content {
        width: 720px;
        max-width: 100%; } }
    @media (min-width: 992px) {
      .custom-hero__content {
        width: 960px;
        max-width: 100%; } }
    @media (min-width: 1200px) {
      .custom-hero__content {
        width: 1140px;
        max-width: 100%; } }
    @media (min-width: 468px) {
      .custom-hero__content {
        padding-right: 15px;
        padding-left: 15px; } }
    @media (min-width: 768px) {
      .custom-hero__content {
        padding-right: 15px;
        padding-left: 15px; } }
    @media (min-width: 992px) {
      .custom-hero__content {
        padding-right: 15px;
        padding-left: 15px; } }
    @media (min-width: 1200px) {
      .custom-hero__content {
        padding-right: 15px;
        padding-left: 15px; } }
  .custom-hero__title {
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
    font-size: 48px;
    font-weight: bold; }
  .custom-hero__image {
    position: absolute;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  .custom-hero__subtitle {
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
    font-size: 24px;
    max-width: 600px; }
  .custom-hero__video {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .custom-hero::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 4, 40, 0.15)), to(rgba(0, 78, 146, 0.16)));
    background-image: linear-gradient(to bottom, rgba(0, 4, 40, 0.15) 0%, rgba(0, 78, 146, 0.16) 100%);
    background-repeat: repeat-x; }

.main-layout {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 48px;
  padding-bottom: 48px; }
  @media (min-width: 468px) {
    .main-layout {
      width: 420px;
      max-width: 100%; } }
  @media (min-width: 768px) {
    .main-layout {
      width: 720px;
      max-width: 100%; } }
  @media (min-width: 992px) {
    .main-layout {
      width: 960px;
      max-width: 100%; } }
  @media (min-width: 1200px) {
    .main-layout {
      width: 1140px;
      max-width: 100%; } }
  @media (min-width: 468px) {
    .main-layout {
      padding-right: 15px;
      padding-left: 15px; } }
  @media (min-width: 768px) {
    .main-layout {
      padding-right: 15px;
      padding-left: 15px; } }
  @media (min-width: 992px) {
    .main-layout {
      padding-right: 15px;
      padding-left: 15px; } }
  @media (min-width: 1200px) {
    .main-layout {
      padding-right: 15px;
      padding-left: 15px; } }

.paragraph-p-image-and-text__content {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap; }

.paragraph-p-image-and-text__field-title {
  -webkit-box-flex: 0;
          flex: 0 0 100%;
  width: 100%; }

.paragraph-p-image-and-text--image-size-4-12-left .paragraph-p-image-and-text__field-image {
  -webkit-box-flex: 0;
          flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% * 4/12 - (30px - 30px * 4/12));
  max-width: calc(100% * 4/12 - (30px - 30px * 4/12));
  width: calc(100% * 4/12 - (30px - 30px * 4/12)); }

.paragraph-p-image-and-text--image-size-4-12-left .paragraph-p-image-and-text__field-image:nth-child(1n) {
  margin-right: 30px;
  margin-left: 0; }

.paragraph-p-image-and-text--image-size-4-12-left .paragraph-p-image-and-text__field-image:last-child {
  margin-right: 0; }

.paragraph-p-image-and-text--image-size-4-12-left .paragraph-p-image-and-text__field-image:nth-child(12n) {
  margin-right: 0;
  margin-left: auto; }

.paragraph-p-image-and-text--image-size-4-12-left .paragraph-p-image-and-text__field-body {
  -webkit-box-flex: 0;
          flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% * 8/12 - (30px - 30px * 8/12));
  max-width: calc(100% * 8/12 - (30px - 30px * 8/12));
  width: calc(100% * 8/12 - (30px - 30px * 8/12)); }

.paragraph-p-image-and-text--image-size-4-12-left .paragraph-p-image-and-text__field-body:nth-child(1n) {
  margin-right: 30px;
  margin-left: 0; }

.paragraph-p-image-and-text--image-size-4-12-left .paragraph-p-image-and-text__field-body:last-child {
  margin-right: 0; }

.paragraph-p-image-and-text--image-size-4-12-left .paragraph-p-image-and-text__field-body:nth-child(12n) {
  margin-right: 0;
  margin-left: auto; }

.paragraph-p-image-and-text--image-size-6-12-left .paragraph-p-image-and-text__field-image {
  -webkit-box-flex: 0;
          flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% * 6/12 - (30px - 30px * 6/12));
  max-width: calc(100% * 6/12 - (30px - 30px * 6/12));
  width: calc(100% * 6/12 - (30px - 30px * 6/12)); }

.paragraph-p-image-and-text--image-size-6-12-left .paragraph-p-image-and-text__field-image:nth-child(1n) {
  margin-right: 30px;
  margin-left: 0; }

.paragraph-p-image-and-text--image-size-6-12-left .paragraph-p-image-and-text__field-image:last-child {
  margin-right: 0; }

.paragraph-p-image-and-text--image-size-6-12-left .paragraph-p-image-and-text__field-image:nth-child(12n) {
  margin-right: 0;
  margin-left: auto; }

.paragraph-p-image-and-text--image-size-6-12-left .paragraph-p-image-and-text__field-body {
  -webkit-box-flex: 0;
          flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% * 6/12 - (30px - 30px * 6/12));
  max-width: calc(100% * 6/12 - (30px - 30px * 6/12));
  width: calc(100% * 6/12 - (30px - 30px * 6/12)); }

.paragraph-p-image-and-text--image-size-6-12-left .paragraph-p-image-and-text__field-body:nth-child(1n) {
  margin-right: 30px;
  margin-left: 0; }

.paragraph-p-image-and-text--image-size-6-12-left .paragraph-p-image-and-text__field-body:last-child {
  margin-right: 0; }

.paragraph-p-image-and-text--image-size-6-12-left .paragraph-p-image-and-text__field-body:nth-child(12n) {
  margin-right: 0;
  margin-left: auto; }

.paragraph-p-image-and-text--image-size-8-12-left .paragraph-p-image-and-text__field-image {
  -webkit-box-flex: 0;
          flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% * 8/12 - (30px - 30px * 8/12));
  max-width: calc(100% * 8/12 - (30px - 30px * 8/12));
  width: calc(100% * 8/12 - (30px - 30px * 8/12)); }

.paragraph-p-image-and-text--image-size-8-12-left .paragraph-p-image-and-text__field-image:nth-child(1n) {
  margin-right: 30px;
  margin-left: 0; }

.paragraph-p-image-and-text--image-size-8-12-left .paragraph-p-image-and-text__field-image:last-child {
  margin-right: 0; }

.paragraph-p-image-and-text--image-size-8-12-left .paragraph-p-image-and-text__field-image:nth-child(12n) {
  margin-right: 0;
  margin-left: auto; }

.paragraph-p-image-and-text--image-size-8-12-left .paragraph-p-image-and-text__field-body {
  -webkit-box-flex: 0;
          flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% * 4/12 - (30px - 30px * 4/12));
  max-width: calc(100% * 4/12 - (30px - 30px * 4/12));
  width: calc(100% * 4/12 - (30px - 30px * 4/12)); }

.paragraph-p-image-and-text--image-size-8-12-left .paragraph-p-image-and-text__field-body:nth-child(1n) {
  margin-right: 30px;
  margin-left: 0; }

.paragraph-p-image-and-text--image-size-8-12-left .paragraph-p-image-and-text__field-body:last-child {
  margin-right: 0; }

.paragraph-p-image-and-text--image-size-8-12-left .paragraph-p-image-and-text__field-body:nth-child(12n) {
  margin-right: 0;
  margin-left: auto; }

.paragraph-p-image-and-text--image-size-4-12-right .paragraph-p-image-and-text__field-image {
  -webkit-box-flex: 0;
          flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% * 4/12 - (30px - 30px * 4/12));
  max-width: calc(100% * 4/12 - (30px - 30px * 4/12));
  width: calc(100% * 4/12 - (30px - 30px * 4/12));
  position: relative;
  left: calc(100% * 8/12 - (30px - 30px * 8/12) + 30px); }

.paragraph-p-image-and-text--image-size-4-12-right .paragraph-p-image-and-text__field-image:nth-child(1n) {
  margin-right: 30px;
  margin-left: 0; }

.paragraph-p-image-and-text--image-size-4-12-right .paragraph-p-image-and-text__field-image:last-child {
  margin-right: 0; }

.paragraph-p-image-and-text--image-size-4-12-right .paragraph-p-image-and-text__field-image:nth-child(12n) {
  margin-right: 0;
  margin-left: auto; }

.paragraph-p-image-and-text--image-size-4-12-right .paragraph-p-image-and-text__field-body {
  -webkit-box-flex: 0;
          flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% * 8/12 - (30px - 30px * 8/12));
  max-width: calc(100% * 8/12 - (30px - 30px * 8/12));
  width: calc(100% * 8/12 - (30px - 30px * 8/12));
  position: relative;
  left: calc(100% * -4/12 - (30px - 30px * -4/12) + 30px); }

.paragraph-p-image-and-text--image-size-4-12-right .paragraph-p-image-and-text__field-body:nth-child(1n) {
  margin-right: 30px;
  margin-left: 0; }

.paragraph-p-image-and-text--image-size-4-12-right .paragraph-p-image-and-text__field-body:last-child {
  margin-right: 0; }

.paragraph-p-image-and-text--image-size-4-12-right .paragraph-p-image-and-text__field-body:nth-child(12n) {
  margin-right: 0;
  margin-left: auto; }

.paragraph-p-image-and-text--image-size-6-12-right .paragraph-p-image-and-text__field-image {
  -webkit-box-flex: 0;
          flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% * 6/12 - (30px - 30px * 6/12));
  max-width: calc(100% * 6/12 - (30px - 30px * 6/12));
  width: calc(100% * 6/12 - (30px - 30px * 6/12));
  position: relative;
  left: calc(100% * 6/12 - (30px - 30px * 6/12) + 30px); }

.paragraph-p-image-and-text--image-size-6-12-right .paragraph-p-image-and-text__field-image:nth-child(1n) {
  margin-right: 30px;
  margin-left: 0; }

.paragraph-p-image-and-text--image-size-6-12-right .paragraph-p-image-and-text__field-image:last-child {
  margin-right: 0; }

.paragraph-p-image-and-text--image-size-6-12-right .paragraph-p-image-and-text__field-image:nth-child(12n) {
  margin-right: 0;
  margin-left: auto; }

.paragraph-p-image-and-text--image-size-6-12-right .paragraph-p-image-and-text__field-body {
  -webkit-box-flex: 0;
          flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% * 6/12 - (30px - 30px * 6/12));
  max-width: calc(100% * 6/12 - (30px - 30px * 6/12));
  width: calc(100% * 6/12 - (30px - 30px * 6/12));
  position: relative;
  left: calc(100% * -6/12 - (30px - 30px * -6/12) + 30px); }

.paragraph-p-image-and-text--image-size-6-12-right .paragraph-p-image-and-text__field-body:nth-child(1n) {
  margin-right: 30px;
  margin-left: 0; }

.paragraph-p-image-and-text--image-size-6-12-right .paragraph-p-image-and-text__field-body:last-child {
  margin-right: 0; }

.paragraph-p-image-and-text--image-size-6-12-right .paragraph-p-image-and-text__field-body:nth-child(12n) {
  margin-right: 0;
  margin-left: auto; }

.paragraph-p-image-and-text--image-size-8-12-right .paragraph-p-image-and-text__field-image {
  -webkit-box-flex: 0;
          flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% * 8/12 - (30px - 30px * 8/12));
  max-width: calc(100% * 8/12 - (30px - 30px * 8/12));
  width: calc(100% * 8/12 - (30px - 30px * 8/12));
  position: relative;
  left: calc(100% * 4/12 - (30px - 30px * 4/12) + 30px); }

.paragraph-p-image-and-text--image-size-8-12-right .paragraph-p-image-and-text__field-image:nth-child(1n) {
  margin-right: 30px;
  margin-left: 0; }

.paragraph-p-image-and-text--image-size-8-12-right .paragraph-p-image-and-text__field-image:last-child {
  margin-right: 0; }

.paragraph-p-image-and-text--image-size-8-12-right .paragraph-p-image-and-text__field-image:nth-child(12n) {
  margin-right: 0;
  margin-left: auto; }

.paragraph-p-image-and-text--image-size-8-12-right .paragraph-p-image-and-text__field-body {
  -webkit-box-flex: 0;
          flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% * 4/12 - (30px - 30px * 4/12));
  max-width: calc(100% * 4/12 - (30px - 30px * 4/12));
  width: calc(100% * 4/12 - (30px - 30px * 4/12));
  position: relative;
  left: calc(100% * -8/12 - (30px - 30px * -8/12) + 30px); }

.paragraph-p-image-and-text--image-size-8-12-right .paragraph-p-image-and-text__field-body:nth-child(1n) {
  margin-right: 30px;
  margin-left: 0; }

.paragraph-p-image-and-text--image-size-8-12-right .paragraph-p-image-and-text__field-body:last-child {
  margin-right: 0; }

.paragraph-p-image-and-text--image-size-8-12-right .paragraph-p-image-and-text__field-body:nth-child(12n) {
  margin-right: 0;
  margin-left: auto; }

.paragraph-p-gallery__field-images {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap; }

.paragraph-p-gallery--item-per-row-4 .paragraph-p-gallery__field-images-item {
  -webkit-box-flex: 0;
          flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% * 3/12 - (30px - 30px * 3/12));
  width: calc(100% * 3/12 - (30px - 30px * 3/12));
  max-width: calc(100% * 3/12 - (30px - 30px * 3/12));
  height: calc(100% * 3/12 - (30px - 30px * 3/12)); }

.paragraph-p-gallery--item-per-row-4 .paragraph-p-gallery__field-images-item:nth-child(1n) {
  margin-right: 30px;
  margin-bottom: 30px;
  margin-left: 0; }

.paragraph-p-gallery--item-per-row-4 .paragraph-p-gallery__field-images-item:last-child {
  margin-right: 0;
  margin-bottom: 0; }

.paragraph-p-gallery--item-per-row-4 .paragraph-p-gallery__field-images-item:nth-child(4n) {
  margin-right: 0;
  margin-left: auto; }

.paragraph-p-gallery--item-per-row-4 .paragraph-p-gallery__field-images-item:nth-last-child(-n + 4) {
  margin-bottom: 0; }

.paragraph-p-gallery--item-per-row-3 .paragraph-p-gallery__field-images-item {
  -webkit-box-flex: 0;
          flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% * 4/12 - (30px - 30px * 4/12));
  width: calc(100% * 4/12 - (30px - 30px * 4/12));
  max-width: calc(100% * 4/12 - (30px - 30px * 4/12));
  height: calc(100% * 4/12 - (30px - 30px * 4/12)); }

.paragraph-p-gallery--item-per-row-3 .paragraph-p-gallery__field-images-item:nth-child(1n) {
  margin-right: 30px;
  margin-bottom: 30px;
  margin-left: 0; }

.paragraph-p-gallery--item-per-row-3 .paragraph-p-gallery__field-images-item:last-child {
  margin-right: 0;
  margin-bottom: 0; }

.paragraph-p-gallery--item-per-row-3 .paragraph-p-gallery__field-images-item:nth-child(3n) {
  margin-right: 0;
  margin-left: auto; }

.paragraph-p-gallery--item-per-row-3 .paragraph-p-gallery__field-images-item:nth-last-child(-n + 3) {
  margin-bottom: 0; }

.paragraph-p-gallery--item-per-row-2 .paragraph-p-gallery__field-images-item {
  -webkit-box-flex: 0;
          flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% * 6/12 - (30px - 30px * 6/12));
  width: calc(100% * 6/12 - (30px - 30px * 6/12));
  max-width: calc(100% * 6/12 - (30px - 30px * 6/12));
  height: calc(100% * 6/12 - (30px - 30px * 6/12)); }

.paragraph-p-gallery--item-per-row-2 .paragraph-p-gallery__field-images-item:nth-child(1n) {
  margin-right: 30px;
  margin-bottom: 30px;
  margin-left: 0; }

.paragraph-p-gallery--item-per-row-2 .paragraph-p-gallery__field-images-item:last-child {
  margin-right: 0;
  margin-bottom: 0; }

.paragraph-p-gallery--item-per-row-2 .paragraph-p-gallery__field-images-item:nth-child(2n) {
  margin-right: 0;
  margin-left: auto; }

.paragraph-p-gallery--item-per-row-2 .paragraph-p-gallery__field-images-item:nth-last-child(-n + 2) {
  margin-bottom: 0; }

.paragraph-p-code__content {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  overflow: auto; }

.paragraph-p-code__field-title {
  background: #f5f5f5;
  padding: 8px 16px;
  font-weight: bold; }
  .paragraph-p-code__field-title:before {
    content: "\F169";
    font-family: "Material Design Icons";
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 0.4em; }

.paragraph-p-code__field-body {
  padding: 8px 16px; }

.paragraph-p-code pre {
  margin: 0;
  padding: 0; }

.paragraph-p-youtube--video-width-720px .paragraph-p-youtube__field-youtube {
  max-width: 720px;
  margin: 0 auto; }

.paragraph-p-gallery-youtube__field-youtubes {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap; }

.paragraph-p-gallery-youtube--item-per-row-4 .paragraph-p-gallery-youtube__field-youtubes-item {
  -webkit-box-flex: 0;
          flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% * 3/12 - (30px - 30px * 3/12));
  width: calc(100% * 3/12 - (30px - 30px * 3/12));
  max-width: calc(100% * 3/12 - (30px - 30px * 3/12));
  height: calc(100% * 3/12 - (30px - 30px * 3/12)); }

.paragraph-p-gallery-youtube--item-per-row-4 .paragraph-p-gallery-youtube__field-youtubes-item:nth-child(1n) {
  margin-right: 30px;
  margin-bottom: 30px;
  margin-left: 0; }

.paragraph-p-gallery-youtube--item-per-row-4 .paragraph-p-gallery-youtube__field-youtubes-item:last-child {
  margin-right: 0;
  margin-bottom: 0; }

.paragraph-p-gallery-youtube--item-per-row-4 .paragraph-p-gallery-youtube__field-youtubes-item:nth-child(4n) {
  margin-right: 0;
  margin-left: auto; }

.paragraph-p-gallery-youtube--item-per-row-4 .paragraph-p-gallery-youtube__field-youtubes-item:nth-last-child(-n + 4) {
  margin-bottom: 0; }

.paragraph-p-gallery-youtube--item-per-row-3 .paragraph-p-gallery-youtube__field-youtubes-item {
  -webkit-box-flex: 0;
          flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% * 4/12 - (30px - 30px * 4/12));
  width: calc(100% * 4/12 - (30px - 30px * 4/12));
  max-width: calc(100% * 4/12 - (30px - 30px * 4/12));
  height: calc(100% * 4/12 - (30px - 30px * 4/12)); }

.paragraph-p-gallery-youtube--item-per-row-3 .paragraph-p-gallery-youtube__field-youtubes-item:nth-child(1n) {
  margin-right: 30px;
  margin-bottom: 30px;
  margin-left: 0; }

.paragraph-p-gallery-youtube--item-per-row-3 .paragraph-p-gallery-youtube__field-youtubes-item:last-child {
  margin-right: 0;
  margin-bottom: 0; }

.paragraph-p-gallery-youtube--item-per-row-3 .paragraph-p-gallery-youtube__field-youtubes-item:nth-child(3n) {
  margin-right: 0;
  margin-left: auto; }

.paragraph-p-gallery-youtube--item-per-row-3 .paragraph-p-gallery-youtube__field-youtubes-item:nth-last-child(-n + 3) {
  margin-bottom: 0; }

.paragraph-p-gallery-youtube--item-per-row-2 .paragraph-p-gallery-youtube__field-youtubes-item {
  -webkit-box-flex: 0;
          flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% * 6/12 - (30px - 30px * 6/12));
  width: calc(100% * 6/12 - (30px - 30px * 6/12));
  max-width: calc(100% * 6/12 - (30px - 30px * 6/12));
  height: calc(100% * 6/12 - (30px - 30px * 6/12)); }

.paragraph-p-gallery-youtube--item-per-row-2 .paragraph-p-gallery-youtube__field-youtubes-item:nth-child(1n) {
  margin-right: 30px;
  margin-bottom: 30px;
  margin-left: 0; }

.paragraph-p-gallery-youtube--item-per-row-2 .paragraph-p-gallery-youtube__field-youtubes-item:last-child {
  margin-right: 0;
  margin-bottom: 0; }

.paragraph-p-gallery-youtube--item-per-row-2 .paragraph-p-gallery-youtube__field-youtubes-item:nth-child(2n) {
  margin-right: 0;
  margin-left: auto; }

.paragraph-p-gallery-youtube--item-per-row-2 .paragraph-p-gallery-youtube__field-youtubes-item:nth-last-child(-n + 2) {
  margin-bottom: 0; }

.media-remote-video__field-media-oembed-video {
  position: relative;
  height: 0;
  padding-bottom: 56.4%; }

.media-remote-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/*# sourceMappingURL=maps/components.css.map */
