::-moz-selection {
  color: white;
  background: #6A82FB; }
::selection {
  color: white;
  background: #6A82FB; }
::-moz-selection {
  color: white;
  background: #6A82FB; }
::selection {
  color: white;
  background: #6A82FB; }
* {
  box-sizing: border-box;
  min-width: 0; }

:focus {
  outline: 2px dashed rgba(106, 130, 251, 0.3);
  outline-offset: 3px; }

::-moz-selection {
  background: #6A82FB;
  color: #212121; }

::selection {
  background: #6A82FB;
  color: #212121; }

body {
  background: #ffffff; }

img {
  max-width: 100%;
  height: auto;
  display: block;
  vertical-align: bottom; }

html {
  font-size: 1rem; }

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  color: #333333; }

a {
  color: #6A82FB;
  text-decoration: none; }
  a:hover {
    color: theme-color-level("primary", 4);
    text-decoration: none; }

ol, ul {
  margin: 8px 0 8px 16px;
  padding: 0; }

p {
  margin: 0 0 16px; }
  p:last-child {
    margin-bottom: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit; }
  h1:first-of-type,
  h2:first-of-type,
  h3:first-of-type,
  h4:first-of-type,
  h5:first-of-type,
  h6:first-of-type {
    margin-top: 0; }

h1,
h2,
h3 {
  margin-top: 32px;
  margin-bottom: 16px; }

h4,
h5,
h6 {
  margin-top: 24px;
  margin-bottom: 16px; }

h1 {
  font-size: 32px; }

h2 {
  font-size: 28px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 16px; }

h6 {
  font-size: 14px; }

small {
  font-size: 80%;
  font-weight: normal; }

big {
  font-size: 125%;
  font-weight: normal; }

hr {
  margin-top: 16px;
  margin-bottom: 16px;
  border: 0;
  border-top: 1px solid gray("500"); }

mark {
  padding: 0.2em;
  background-color: #fff9c4;
  color: inherit; }

code {
  font-size: 16px; }

pre code {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace; }

blockquote {
  padding: 8px 16px;
  margin: 0 0 16px;
  font-size: 110%;
  border-left: 4px solid gray("400");
  background: transparent; }

input {
  font-family: "Roboto", sans-serif;
  color: #333333; }

input[type='text'],
input[type='password'],
input[type='email'],
input[type='search'],
input[type='tel'],
input[type='url'],
input[type='number'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='time'],
input[type='datetime'],
input[type='datetime-local'],
input[autofocus],
input[required],
textarea,
select {
  display: block;
  max-width: 100%;
  width: 100%;
  padding: 8px 16px;
  font: inherit;
  line-height: 1.25;
  background-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(34, 36, 38, 0.15);
  border-radius: 3px;
  box-sizing: border-box;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out; }
  input[type='text'].error,
  input[type='password'].error,
  input[type='email'].error,
  input[type='search'].error,
  input[type='tel'].error,
  input[type='url'].error,
  input[type='number'].error,
  input[type='date'].error,
  input[type='month'].error,
  input[type='week'].error,
  input[type='time'].error,
  input[type='datetime'].error,
  input[type='datetime-local'].error,
  input[autofocus].error,
  input[required].error,
  textarea.error,
  select.error {
    border-color: #f44336; }
  input[type='text']:focus,
  input[type='password']:focus,
  input[type='email']:focus,
  input[type='search']:focus,
  input[type='tel']:focus,
  input[type='url']:focus,
  input[type='number']:focus,
  input[type='date']:focus,
  input[type='month']:focus,
  input[type='week']:focus,
  input[type='time']:focus,
  input[type='datetime']:focus,
  input[type='datetime-local']:focus,
  input[autofocus]:focus,
  input[required]:focus,
  textarea:focus,
  select:focus {
    outline: medium none;
    border-color: #6A82FB; }
  input[type='text']:disabled,
  input[type='password']:disabled,
  input[type='email']:disabled,
  input[type='search']:disabled,
  input[type='tel']:disabled,
  input[type='url']:disabled,
  input[type='number']:disabled,
  input[type='date']:disabled,
  input[type='month']:disabled,
  input[type='week']:disabled,
  input[type='time']:disabled,
  input[type='datetime']:disabled,
  input[type='datetime-local']:disabled,
  input[autofocus]:disabled,
  input[required]:disabled,
  textarea:disabled,
  select:disabled {
    cursor: not-allowed;
    background: #fafafa;
    font-size: 100%;
    color: #a3a3a3;
    text-shadow: none; }

input[type='checkbox'] {
  display: inline-block;
  width: auto; }

textarea {
  height: auto;
  color: #333333; }

select {
  cursor: pointer;
  width: auto; }

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 8px; }

fieldset {
  border: 1px solid #d0d0d0;
  padding: 15px;
  position: relative;
  margin: 16px 0; }
  fieldset .fieldset-legend {
    font-weight: bold;
    margin-top: 8px;
    position: absolute;
    text-transform: uppercase; }
  fieldset .fieldset-wrapper {
    margin: 24px 0 0 0; }

html.js fieldset.collapsed {
  border-width: 1px; }

html.js fieldset.collapsible .fieldset-legend {
  padding-left: 16px; }

/*# sourceMappingURL=maps/elements.css.map */
