::-moz-selection {
  color: white;
  background: #6A82FB; }
::selection {
  color: white;
  background: #6A82FB; }
::-moz-selection {
  color: white;
  background: #6A82FB; }
::selection {
  color: white;
  background: #6A82FB; }

/*# sourceMappingURL=maps/objects.css.map */
