.paragraph-p-gallery {
  &__field-images {
    lost-flex-container: row;
  }

  &--item-per-row-4 {
    .paragraph-p-gallery__field-images-item {
      lost-waffle: 3/12 4;
    }
  }

  &--item-per-row-3 {
    .paragraph-p-gallery__field-images-item {
      lost-waffle: 4/12 3;
    }
  }

  &--item-per-row-2 {
    .paragraph-p-gallery__field-images-item {
      lost-waffle: 6/12 2;
    }
  }
}