<?php

namespace Drupal\{{ machine_name }}\Plugin\CustomHero\Entity;

use Drupal\custom_hero\Plugin\CustomHero\Entity\CustomHeroEntityPluginBase;

/**
 * Hero block for entity.
 *
 * @DlogHeroEntity(
 *   id = "{{ plugin_id }}",
 *   entity_type = "{{ entity_type }}",
 *   entity_bundle = {"*"}
 * )
 */
class {{ name }} extends CustomHeroEntityPluginBase {

{% if is_title %}
  /**
   * {@inheritdoc}
   */
  public function getHeroTitle() {
    return $this->getPageTitle();
}

{% endif %}
{% if is_subtitle %}
    /**
    * {@inheritdoc}
    */
    public function getHeroSubtitle() {

    }

{% endif %}
{% if is_image %}
    /**
    * {@inheritdoc}
    */
    public function getHeroImage() {

    }

{% endif %}
{% if is_video %}
    /**
    * {@inheritdoc}
    */
    public function getHeroVideo() {

    }

{% endif %}
}
