<?php

namespace Drupal\{{ machine_name }}\Plugin\CustomHero\Path;

use Drupal\custom_hero\Plugin\CustomHero\Path\CustomHeroPathPluginBase;

/**
 * Hero block for path.
 *
 * @DlogHeroPath(
 *   id = "{{ plugin_id }}",
 *   match_type = "{{ match_type }}",
 *   match_path = {"<front>"}
* )
*/
class {{ name }} extends CustomHeroPathPluginBase {

{% if is_title %}
    /**
    * {@inheritdoc}
    */
    public function getHeroTitle() {
    return $this->getPageTitle();
    }

{% endif %}
{% if is_subtitle %}
    /**
    * {@inheritdoc}
    */
    public function getHeroSubtitle() {

    }

{% endif %}
{% if is_image %}
    /**
    * {@inheritdoc}
    */
    public function getHeroImage() {

    }

{% endif %}
{% if is_video %}
    /**
    * {@inheritdoc}
    */
    public function getHeroVideo() {

    }

{% endif %}
}
