.custom-hero {
  position: relative;
  z-index: 0;
  margin-top: -42;
  height: 500px;
  overflow: hidden;

  &__content {
    @include media-container();
    position: relative;
    z-index: 10;
    top: 200px;
  }

  &__title {
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1); //Не работает
    font-size: 48px;
    font-weight: bold;
  }

  &__image {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__subtitle {
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1); //Не работает
    font-size: 24px;
    max-width: 600px;
  }

  &__video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    //@include gradient-y-three-colors(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.15), 15%, rgba(0, 0, 0, 0.1))
    @include gradient-y(rgba(0, 4, 40, 0.15), rgba(0, 78, 146, 0.16));
  }
}
