{% set bem_block = 'app' %}
<div class="{{ bem_block }}">

    {% include '@custom_theme/include/header.html.twig' %}

    <main class="{{ bem_block }}__content main-layout">
        {{ page.sidebar_first }}
        {{ page.content }}
    </main>

    {% include '@custom_theme/include/footer.html.twig' %}

</div>
