$social_icons: (
        'facebook': 'facebook',
        'vk': 'vk',
        'twitter': 'twitter',
        'youtube': 'youtube',
        'telegram': 'telegram',
        'github': 'github-circle',
        'gitlab': 'ghost'
);

$social_background: (
        'facebook': #3b5999,
        'vk': #4a76a8,
        'twitter': #1da1f2,
        'youtube': #FF0000,
        'telegram': #0088cc,
        'github': #171515,
        'gitlab': #FCA121
);

.block-custom-blog-social-links {
  display: flex;
  align-items: center;
  flex-direction: column;

  &__title {
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    color: #32325d;
    margin-bottom: 12px;
  }
}

.social-links {
  padding: 16px;
  background-color: #fff;
  height: 200px;

  &__items {
    @include list-unstyled;
    display: flex;
  }

  &__link {
    display: flex;
    width: 110px;
    height: 102px;
    color: white;
    line-height: 100px;
    font-size: 40px;
    padding-left: 34px;
  }

  @each $modifier, $icon in $social_icons {
    &__link--#{$modifier} {
      @include mdi-icon($icon);
    }
  }

  @each $modifier, $background in $social_background {
    &__link--#{$modifier} {
      background-color: $background;
    }
  }
}
