.block-main {

  &__title {
    display: none;
  }

  &__menu {
    @include list-unstyled;
    display: flex;
    height: 44px;
  }

  &__menu-item {
    margin-right: 16px;
  }

  &__menu-item-link {
    display: block;
    color: #404040;
    font-size: 18px;
    line-height: 42px;

    &:hover {
      color: theme-color();
      border-bottom: solid theme-color() 2px;
    }
  }
}
