{#
/**
 * @file
 * Theme override to display a block.
 *
 * @see template_preprocess_block()
 */
#}
{% do attributes.removeAttribute('id') %}
{% set bem_block = bem_block ?: 'block-' ~ block_id|split('__', 2)|first|clean_class %}
{% set classes = [
    bem_block,
] %}
{% set bem_modifiers = bem_modifiers ?: block_id|split('__')|slice(1) %}
{% for modifier in bem_modifiers %}
    {% set classes = classes|merge([bem_block ~ '--' ~ modifier|clean_class]) %}
{% endfor %}

<div{{ attributes.addClass(classes) }}>

    <div{{ content_attributes.addClass(bem_block ~ '__content') }}>
        {{ title_prefix }}
        {% if label %}
            <div{{ title_attributes.addClass(bem_block ~ '__title') }}>
                {% block title %}
                    {{ label }}
                {% endblock title %}
            </div>
        {% endif %}
        {{ title_suffix }}
        {% block content %}
            {{ content }}
        {% endblock content %}
    </div>

</div>
